@use "../../styles/placeholders" as *;
@use "../../styles/variables.scss" as *;

.cardContainer {
  @media screen and (min-width: $desktop) {
    width: 340px;

    margin: 0;
  }
}
.cardTitleStyles {
  @extend %default-title;
}

.cardTextStyles {
  @extend %default-text;
}

.cardImgWrap {
  position: relative;
  overflow: "hidden";
  min-height: 150px;
  width: 100%;
}
