@use "../../styles/placeholders" as *;
@use "../../styles/variables.scss" as *;

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTitleStyles {
  @extend %default-title;
}

.cardTextStyles {
  @extend %default-text;
}

.cardImgWrap {
  position: relative;
  overflow: "hidden";
  min-height: 150px;
  width: 100%;
}
