@use '../../styles/variables.scss' as *;
@use '../../styles/placeholders' as *;

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    .isActive{
        color: yellowgreen;
    }
    a{
            display: inline-block;  
        @extend  %default-marker;
       padding: 15px;
        margin: 0 10px;
        transition: color .4s ease-in-out;
        &:hover{
            color: yellowgreen;
        };

        @media screen and (min-width: $desktop) {
            font-size: 21px;
            }
    }



}

.container {
   
    margin: 0 auto;
    padding: 0 15px;
   

    @media screen and (min-width: $mobile){
        max-width: 540px;
    }

        @media screen and (min-width: $tablet) {
        width: 720px;
        }


        @media screen and (min-width: $desktop) {
            max-width: 1400px;
        }
}

.headerLinksWrap{
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        } 
}

.headerNavTextColor{
    @extend   %default-marker;
     color: 	 $secondary-color;

    
}
