@use "../../../styles/variables.scss" as *;
@use "../../../styles/placeholders" as *;

.contactsTitle {
  color: #fff;

  margin-top: 50px;
}

.contactsSubTitle {
  color: #fff;

  margin-top: 30px;
}
