@use '../../styles/variables.scss' as *;
@use '../../styles/placeholders' as *;


.diplomaTitle{
    @extend %default-title;
    color: 	 $secondary-color;
    margin-top: 15px;
    text-align: center;
}